---
export const viewTransition = true;
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = await Astro.glob('./*.md');
const pageTitle = "Blog Posts"
---

<BaseLayout title="Blog">
  <h1 class="pages">{pageTitle}</h1>
  <h3> Here you can check out all my blogs</h3>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post?.file?.split('/').pop()?.replace('.md', '')}/`}>
          {post.frontmatter.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
