:root {
  --main-color: darkblue;
  --theme-text: white;
  --third-color: darkgreen;
  --font-main: 'Merriweather', serif;
  --main-padding: 3rem 4rem;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-main);
  background: var(--main-color);
  color: var(--theme-text);
}

a {
  color: var(--theme-text);
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  color: var(--third-color);
}

main {
  /* background: red; */
  flex: 1;
  min-width: 400px;
  justify-items: center;
  margin: auto;
  padding: var(--main-padding);
}



h1, h2, h3 {
  font-family: var(--font-main);
  color: var(--theme-text);
}
.pages{
  font-size: 60px;
  /* font-size: 4em; */
}
h1{
  font-size: 40px;
}
h3{
  font-size: 20px;
}

.intro-text {
  max-width: 700px;
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
}

