---
export const viewTransition = true;
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome to My Astro Blog">
  <h2>Welcome</h2>
  <p>This is a blog built with Astro to demonstrate SSG capabilities.</p>
</BaseLayout>
