---
export const viewTransition = true;
import BaseLayout from "../layouts/BaseLayout.astro";
const title="Welcome to My Blog";
---

<BaseLayout title={title}>
  <h1 class="pages">{title}</h1>
  <div class="intro-text">
    <p>
      Hello, my name is <strong>Juan Perez</strong>. Here you can check out how I implemented files and transitions using <em>Astro</em> for this site.
    </p>
  </div>
</BaseLayout>
