<footer>
  <p>© 2025 Juan Perez | Built with Astro</p>
</footer>
<style>
  footer{
    padding: 1rem; 
    background: var(--main-color); 
    color: var(--theme-text); 
    text-align: center; 
    border-top: 2px solid var(--theme-text);
  }
</style>
