<nav>
  <a href="/">Juan Perez</a>
  <ul>
    <a href="/blog/">Blog</a>
    <a href="/resources/">Resources</a>
  </ul>
</nav>
<style>
  nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem; 
    background: var(--main-color); 
    border-bottom: 2px solid var(--theme-text);
  }
  a{
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>

